Repository towns-protocol/towns, pull requests merged in 2024-08, with the labels that each got.

#466 smart contract work to override permissions by channel
  contracts/scripts/deployments/facets/DeployRoles.s.sol
  contracts/src/spaces/facets/channels/ChannelService.sol
  contracts/src/spaces/facets/entitlements/extensions/EntitlementDataQueryable.sol
  contracts/src/spaces/facets/roles/IRoles.sol
  contracts/src/spaces/facets/roles/Roles.sol
  contracts/src/spaces/facets/roles/RolesBase.sol
  contracts/src/spaces/facets/roles/RolesStorage.sol
  contracts/test/diamond/erc721a/ERC721A.t.sol
  contracts/test/diamond/introspection/Introspection.t.sol
  contracts/test/spaces/roles/Roles.t.sol
  contracts/test/spaces/roles/RolesBaseSetup.sol
  contracts/test/spaces/roles/setChannelPermissionOverrides.t.sol
  core/contracts/base/deploy/mock_custom_entitlement.go
  packages/generated/deployments/gamma/base/facets/entitlementDataQueryable.json
  packages/generated/deployments/gamma/base/facets/roles.json
  packages/generated/dev/abis/Architect.json
  packages/generated/dev/abis/Architect.metadata.json
  packages/generated/dev/abis/Channels.json
  packages/generated/dev/abis/Channels.metadata.json
  packages/generated/dev/abis/Diamond.json
  packages/generated/dev/abis/DiamondCutFacet.json
  packages/generated/dev/abis/EntitlementsManager.json
  packages/generated/dev/abis/IERC5267.json
  packages/generated/dev/abis/Member.json
  packages/generated/dev/abis/MembershipFacet.abi.json
  packages/generated/dev/abis/MembershipFacet.abi.ts
  packages/generated/dev/abis/MembershipFacet.json
  packages/generated/dev/abis/MembershipFacet.metadata.json
  packages/generated/dev/abis/MockCustomEntitlement.json
  packages/generated/dev/abis/MockCustomEntitlement.metadata.json
  packages/generated/dev/abis/MockERC721A.json
  packages/generated/dev/abis/MockEntitlementGated.json
  packages/generated/dev/abis/MockRiverRegistry.json
  packages/generated/dev/abis/MockWalletLink.json
  packages/generated/dev/abis/NodeRegistry.json
  packages/generated/dev/abis/OperatorRegistry.json
  packages/generated/dev/abis/OwnableFacet.json
  packages/generated/dev/abis/PlatformRequirementsFacet.json
  packages/generated/dev/abis/PrepayFacet.json
  packages/generated/dev/abis/ProxyManager.json
  packages/generated/dev/abis/Roles.abi.json
  packages/generated/dev/abis/Roles.abi.ts
  packages/generated/dev/abis/Roles.bin
  packages/generated/dev/abis/Roles.json
  packages/generated/dev/abis/Roles.metadata.json
  packages/generated/dev/abis/SpaceOwner.json
  packages/generated/dev/abis/StreamFlags.json
  packages/generated/dev/abis/StreamRegistry.json
  packages/generated/dev/abis/TokenPausableFacet.json
  packages/generated/dev/abis/UserEntitlement.json
  packages/generated/dev/abis/UserEntitlement.metadata.json
  packages/generated/dev/abis/WalletLink.json
  packages/generated/dev/typings/IRoles.ts
  packages/generated/dev/typings/MembershipFacet.ts
  packages/generated/dev/typings/factories/IRoles__factory.ts
  packages/generated/dev/typings/factories/MembershipFacet__factory.ts
Labels: area/contracts

#712 test(contract): enhance `RuleEntitlement` tests
  contracts/test/crosschain/RuleEntitlement.t.sol
  contracts/test/crosschain/RuleEntitlementV2.t.sol
  contracts/test/utils/TestUtils.sol
Labels: area/contracts

#675 refactor(sdk): refactor entitlement data ABI encoding and decoding
  packages/web3/src/entitlement.ts
Labels: area/sdk, area/quality

#814 refactor(contract): Refactor reward transfer logic into a separate fu…
  contracts/src/base/registry/facets/distribution/RewardsDistribution.sol
Labels: area/contracts, area/quality
